*,*:after,*:before {	-webkit-box-sizing: border-box;	-moz-box-sizing: border-box;	box-sizing: border-box;	padding: 0;	margin: 0;}
.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
.orders {padding: 10px;border-top: 1px solid #E5E5E5;}
.orders a {margin-bottom: 5px;}
.orders .list .item {background: #FFF;border: 1px solid #E5E5E5;color: #999;border-width: 0 1px 1px;    padding: 7px 10px;font-size:12px;
    position: relative;}
.orders .item:nth-child(1) {border-width: 1px;}

.title-lips {
    font-size:12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 8px;
    font-family: 'Microsoft YaHei', 'simsun',sans-serif;
    line-height: 20px;
}
.orders .title-lips  {
    color: #333;
    width: 50%;
}

.orders .status {color: #F94B42;position: absolute;right: 43px;top: 15px;text-align: right;}