@charset "utf-8";

/*reset*/

* { 
-webkit-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color:transparent;
}
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote, th, td {
margin: 0;
padding: 0;
}
fieldset, img {
border: 0;
}
img { vertical-align:top;}
:focus {
outline: 0;
}
address, caption, cite, code, dfn,
em, i, strong, th, var, optgroup {
font-style: normal;
font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
font-size: 100%;
font-weight: normal;
}
abbr, acronym {
border: 0;
font-variant: normal;
}

input, button, textarea,
select, optgroup, option {
font-family: inherit;
font-size: inherit;
font-style: inherit;
font-weight: inherit;
}
button,input[type="submit"],input[type="reset"] {-webkit-appearance:none; appearance:none;}
code, kbd, samp, tt {
font-size: 100%;
}
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select {
*font-size: 100%;
}
body, input, select, textarea {
font: 12px/1.5 microsoft yahei, Arial, Helvetica, sans-serif;
}
ol, ul {
list-style: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
caption, th {
text-align: left;
}
sup, sub {
font-size: 100%;
vertical-align: baseline;
}
a { color:#bdbdbd; cursor:pointer;}
:link, :visited , ins {
text-decoration: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: ".";
content: none;
}
.f_l{ float: left;}
.f_r{ float: right;}
/*layout*/
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
.clearfix {display: block;}
/* End hide from IE-mac */

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
    margin: 0;
    padding: 0
}
ul,ol { padding:0; margin:0; list-style:none;}
em,i { font-style:normal}
a{text-decoration: none;}
body { background:#f2f2f2;}
header {  color:#fff; font-size:.85rem;}
header .close { position:relative; z-index:11; padding:.5rem .1rem; line-height:1.2rem}
.page {background:#f2f2f2;}
.page header.bar .icon-refresh { width:1.2rem; height:100%; padding:0 .25rem; margin-right:.625rem; font-size:0; line-height:0; background:url(../images/icon-refresh.png) center .6rem no-repeat; background-size:.7rem .8rem}
header.bar {background:#dc3c38;}
.page header.bar a{font-size:.65rem; color:#fff}
header .title { color:#fff;}

.lineBlock { display:inline-block; *display:inline; zoom:1; letter-spacing:normal; word-spacing:normal; }
.lbBox { font-size:0 !important; *word-spacing:-.02rem !important; }
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .lbBox {  letter-spacing:-.05rem !important;  }
    .lbBox * * {  letter-spacing:normal  }
}

.button.button-fill{ height:2.2rem; line-height:2.2rem; font-size:.75rem;}
.button.button-fill.disabled { background:#cbcbcb}
.button.button-fill.active, .button.button-fill:active { background:#dc3c38}
。button-danger{background:red; }
.text-note { padding-top:.7em; font-size:.6rem; line-height:1.25em; color:#999}
.text-note .high-light {color:#00b7ee; text-decoration:underline}
.with-picker-modal .overlayer { z-index:2002; opacity:0; position:fixed; left:0; top:0; right:0; bottom:0;}

.popup-picker-wrap { display:none; z-index:11; position:absolute; left:0; top:0; right:0; bottom:0;}
.popup-picker-wrap.in { display:block;}
.popup-picker-wrap .overlayer { position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(0,0,0,.5)}
.popup-picker { z-index:1; position:absolute; left:0; right:0; bottom:0; padding:2rem 0 1rem; background:#fff; }
.popup-picker .close { position:absolute; z-index:2;right:0; top:0;  width:1rem; height:1rem; -webkit-box-sizing:content-box; box-sizing:content-box; padding:.25rem;}
.popup-picker .close i { position:relative; display:block; width:100%; height:100%; -webkit-transform:rotate(45deg);transform:rotate(45deg)}
.popup-picker .close i:before,.page .close i:after { content:''; position:absolute;  background:#ccc;}
.popup-picker .close i:before { left:0; top:50%;width:1rem; height:.1rem; margin-top:-.05rem;}
.popup-picker .close i:after { left:50%; top:0; width:.1rem; height:1rem; margin-left:-.05rem;}
.popup-picker ul { overflow:hidden}
.popup-picker  li { float:left; width:25%; padding:0 .4rem .4rem; }
.popup-picker  li a { display:block; padding:.25rem 0; border:1px solid #ddd; border-radius:.15rem; text-align:center; line-height:1.5em; color:#ff7815; font-size:.6rem}
.popup-picker  li a.current { border-color:#ff7815; background:#ff7815; color:#fff;}
.con-wrap {
    padding-left: .15rem;
    padding-right: .15rem;
}
.title-a {
    position: relative;
    height: .8rem;
    line-height: .8rem;
    font-size: 1.2rem;
    text-align: center;
    color: #333;
}
.title-a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    border-top: .07rem solid #dbdbdb;
}
.title-a h3 {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0 .4rem;
    background: #f4f4f4;
}

.scener-mod {
    background-color: white
}

.scener-common-title {
    position: relative;
    border-bottom: 1px solid #f3f3f3;
    height:3rem;
    line-height: 3rem;
}
.scener-common-title .titleh3 {
    font-size: 1.1rem;
    font-family: "microsoft yahei";
    color: #111;
    margin-right: 0.5rem;
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
}

    .scener-mod h3.title {
        height: 1.7rem;
        font-size: 1.5rem;
        font-family: "microsoft yahei";
        color: #111;
        margin-right: 10px;
        display: inline-block;
        vertical-align: top;
        font-weight: normal;
        line-height: 40px;
    }

.ticket-item-num {
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    font: 0.7rem tahoma;
    color: #fff;
    text-align: center;
    margin: 1rem 0 0 0.5rem;
    background: #f60;
    border-radius: 1rem;
}

.scener-ticket-list li {
    border-bottom: 0.07rem dotted #dadada;
    cursor: pointer;
}

    .scener-ticket-list li.active, .scener-ticket-list li:hover {
        background: #f7f9fa;
    }

.scener-ticket-list .btn-close {
    display: block;
    background: #eff7fb;
    color: #666;
    text-align: center;
    font: 400 0.8rem/2.2rem 'microsoft yahei';
    cursor: pointer;
}

    .ticket-list-content .ticket-title-wrapper {
        color: #333;
      
        font: 400 0.8rem/1rem 'microsoft yahei';
    }

        .ticket-list-content .ticket-title-wrapper:hover, .scener-ticket-list .active .ticket-title-wrapper {
            color: #0091d9;
        }

.main-ticket .main-ticket-wrap li.active .ticket-name .name span, .main-ticket .main-ticket-wrap li:hover .ticket-name .name span {
}

.ticket-list-content .ticket-title-tips {
    width: 185px;
    color: #666;
    margin-right: 0;
    font: 400 0.8rem/1.2rem 'microsoft yahei';
}

.ticket-title-tips p span {
    display: block;
}

.ticket-title-tips .tips-i {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: top;
    font-size: 24px;
    cursor: pointer;
    color: #5aceb2;
}

.ticket-list-content .ticket-title-price {
    width:3.1rem;
    margin: 0;
}

    .ticket-list-content .ticket-title-price.price-container {
        display: inline-block;
        margin-top: 6px;
    }

.price-now, .price-original {
    color: #ff8b06;
    font: 400 18px/1 Arial;
}

.price-original {
    font-size: 12px;
    color: #999;
    text-decoration: line-through;
}
.ticket-list-content {
        float: left;
    padding: 1rem 0 0.5rem;
}
.ticket-list-content.col-90 {
    margin-left: 2%;
}
.ticket-list-content .row {
    margin-left: 0rem;
}
.ticket-list-content .ticket-title-discount {
    width: 95px;
    position: relative;
    min-height: 40px;
    margin-right: 0;
}



.booking-btn {
    color: #fff;
    background-color: #ff8400;
    border-radius: 2px;
    display: inline-block;
    width: 3rem;
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
}

    .booking-btn:hover {
        color: #fff;
        background-color: #f60;
    }

.ticket-list-more {
    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    background-color: white;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.scener-ticket-list li.active .ticket-list-more {
    min-height: 50px;
    height: auto;
    opacity: 1;
}

.ticket-list-moreinfo {
    padding: 0 1rem 1rem 1rem;
    max-height: 275px;
    overflow: auto;
}

    .ticket-list-moreinfo dl {
        clear: both;
        font: 400 0.7rem/1rem 'microsoft yahei';
        color: #666;
        line-height: 1.2rem;
        padding: .2rem 0;
        border: 0;
    }

        .ticket-list-moreinfo dl dt {
            color: #333;
            font-weight:bold;
            float: left;
            width: 5em;
        }

        .ticket-list-moreinfo dl dd {
            float: left;
            word-break: break-all;
        }
  
  
  /*小贴士**/
  .list-wrapper {
      font: 400 0.7rem/1rem 'microsoft yahei';
    color: #666;
    line-height: 1.2rem;
  }
  .list-wrapper li {
    position: relative;
    margin-top: 0.2rem;
}
  
  .list-wrapper .list-icon {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    text-align: center;
    vertical-align: middle;
}
 .list-tips .list-icon-circle,.list-traffic .list-icon-circle{
    background: url(http://image01.qilabi.com/icon/ticket-icon.png) no-repeat;
}
.list-tips .list-icon-circle {
    background-position: 0px -128px;
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.list-traffic .list-icon-circle {
    background-position: -60px -131px;
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

i {
    font-style: normal;
}
.list-content {
     font: 400 0.7rem/1rem 'microsoft yahei';
     color: #333;
}
.list-wrapper h4 {
    margin: 0 0 .4rem;
    color: #333;
    font-weight: bold;
}
.list-wrapper h5 {
  font: 400 0.7rem/1rem 'microsoft yahei';
  color: #333;
}
.list-wrapper p {
    font: 400 0.7rem/1rem 'microsoft yahei';
    color: #666;
    line-height: 1.2rem;
    display: block;
}
