<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="airshowConnection" connectionString="Server=tcp:qbl.database.windows.net,1433;Initial Catalog=airshow;Persist Security Info=False;User ID=qbl;Password=Pa$$word;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
</configuration>